.strategy.block-shadowed{
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}


.strategy .grow-2{
  width: 787px;
}

.strategy {
  padding: 30px 0;
}

.strategy__content{
  padding: 24px 33px 29px 33px;
}