.footer-navigation{
  max-width: 1065px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-navigation div{
  margin-right: 139px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}